click
daiquiri
panel
diskcache
hvplot
datashader
tskit
pre-commit
pytest
msprime
tszip
appdirs
# It's not clear why we need Dask here, but tests are failing
# otherwise. Pinning to arbitrary working version
dask[dataframe]==2024.4.1
