build
click
coverage
coveralls
daiquiri
datashader>=0.16.3
hvplot
jupyter-book
matplotlib
msprime
panel>=1.5.2,<=1.6.1 #Hard pin as mutations page fails with 1.6.2
pre-commit
pytest
pytest-playwright
selenium
sphinx_issues
tskit
tszip
