appdirs
click
daiquiri
# It's not clear why we need Dask here, but tests are failing
# otherwise. Pinning to arbitrary working version
dask[dataframe]==2024.4.1
datashader
diskcache
hvplot
msprime
panel
pre-commit
pytest
selenium
tskit
tszip
