name: Docs

on:
  pull_request:
  push:
    branches: [main]
    tags:
      - '*'
  merge_group:

jobs:
  Docs:
    uses: tskit-dev/.github/.github/workflows/docs.yml@v12
    with:
      pre-build-command: uv run --locked --no-default-groups --group=docs playwright install --with-deps chromium
