name: Post Screenshots

on:
    workflow_run:
      workflows: [Tests]
      types:
        - completed

jobs:
  post_screenshots:
    runs-on: ubuntu-latest
    steps:
      - name: 'Download artifact'
        uses: actions/github-script@v6
        with:
          script: |
            let allArtifacts = await github.rest.actions.listWorkflowRunArtifacts({
               owner: context.repo.owner,
               repo: context.repo.repo,
               run_id: context.payload.workflow_run.id,
            });
            let matchArtifact = allArtifacts.data.artifacts.filter((artifact) => {
              return artifact.name == "screenshots"
            })[0];
            let download = await github.rest.actions.downloadArtifact({
               owner: context.repo.owner,
               repo: context.repo.repo,
               artifact_id: matchArtifact.id,
               archive_format: 'zip',
            });
            let fs = require('fs');
            fs.writeFileSync(`${process.env.GITHUB_WORKSPACE}/screenshots.zip`, Buffer.from(download.data));

      - name: 'Unzip artifact'
        run: unzip screenshots.zip

      - name: Generate comment
        run: |
          echo '<details><summary>Screenshots</summary>' > comment.md
          echo >> comment.md
          for img in *.png; do
            data=$(base64 -w 0 "$img")
            echo "![Screenshot](data:image/png;base64,$data)" >> comment.md
            echo >> comment.md
          done
          echo '</details>' >> comment.md

      - name: Post comment
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
              const fs = require('fs');
              const comment_body = fs.readFileSync('comment.md', 'utf8');
              const pullRequest = context.payload.workflow_run.pull_requests[0];
              if (!pullRequest) {
                throw new Error("No associated pull request found.");
              }
              await github.rest.issues.createComment({
                owner: context.repo.owner,
                repo: context.repo.repo,
                issue_number: pullRequest.number,
                body: comment_body,
              });