name: Tests

on:
  pull_request:
  push:
    branches: [main, test]
  merge_group:

jobs:

  pre-commit:
    name: Lint
    uses: tskit-dev/.github/.github/workflows/lint.yml@v4

  packaging:
    name: Python packaging
    uses: tskit-dev/.github/.github/workflows/python-packaging.yml@v4

  test:
    name: Python
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python: [ "3.10", "3.13" ]
        os:  [ ubuntu-24.04, ]
    defaults:
      run:
        shell: bash
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - name: Checkout
        uses: actions/checkout@v4.2.2

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: '3.11'
          version: "0.8.15"

      - name: Install deps
        run: |
            uv venv
            uv pip install -r pyproject.toml --extra test
            uv run --no-sync playwright install

      - name: Tests with numba
        run: uv run --no-sync coverage run --source=tsbrowse -m pytest -x tests

      - name: Tests with coverage (no numba)
        run: TSBROWSE_DISABLE_NUMBA=1 uv run --no-sync coverage run --source=tsbrowse -m pytest -x tests

      - name: Upload coverage
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          uv run --no-sync coveralls --service=github
