name: Tests

on:
  pull_request:
  push:
    branches: [main, test]
  merge_group:

jobs:
  packaging:
    name: Python packaging
    uses: tskit-dev/.github/.github/workflows/python-packaging.yml@main

  test:
    name: Python
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        python: ["3.11", "3.13"]
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - name: Checkout
        uses: actions/checkout@v4.2.2

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python }}
          version: "0.8.15"

      - name: Install dependencies
        run: uv sync --locked --group test --no-default-groups

      - name: Install playwright browsers
        run: uv run --no-default-groups playwright install --with-deps chromium

      - name: Run tests (with numba)
        run: |
          uv run --no-default-groups pytest --cov=tsbrowse --cov-branch \
            --cov-report=xml -x tests

      - name: Run tests (without numba)
        run: |
          TSBROWSE_DISABLE_NUMBA=1 uv run --no-default-groups pytest \
            --cov=tsbrowse --cov-branch --cov-report=xml --cov-append -x tests

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5.4.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          flags: python-tests
          files: coverage.xml
          disable_search: true
          verbose: true
