name: Publish Python release

on:
  push:
    branches: [test-publish]
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: "3.12"
          version: "0.8.15"

      - name: Build
        run: uv build

      - uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/

  publish:
    runs-on: ubuntu-24.04
    environment: release
    needs: [build]
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v7.0.0
        with:
          name: dist
          path: dist

      - name: Publish to TestPyPI
        if: github.event_name == 'push' && github.ref_name == 'test-publish'
        uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          repository-url: https://test.pypi.org/legacy/
          verbose: true

      - name: Publish to PyPI
        if: github.event_name == 'release'
        uses: pypa/gh-action-pypi-publish@v1.13.0
